

 .item-list   { background-color: lightblue; 
                 width: 555px;
                 padding: 10px;
                 border: 2px solid gray;
                 margin: 0; }

.jumbotron {background-color: sandybrown;
                  text-align:   center; }   
                
   
                
body { background-image: url('images/trainbackground.png');
       background-size: cover;
       height: auto;
       width: auto;
       position: relative;
       top: 5%; 
    
} 


tbody {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
  
}

  td, th {
    background-color: linen;   
    border: 1px solid #ddd;
    padding: 8px;
    height: 10%;
    width: 50%;
}

tr:nth-child(even){background-color: #bba6a6;}

tr:hover {background-color: #ddd;}

 thead {
  
    text-align: left;
    background-color: #4CAF50;
    color: white; }

    p2 { color: beige;
         border-color: #333;
         font-size: 1.5em; 
         text-align: center;
        background-color: #333; } 