


.jumbotron {background-color: sandybrown;
                text-align: center; }   
                
   
                
body { background-image: url('images/trainbackground.png') 
} 


tbody {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
  
}

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 10%;
    width: 50%;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 thead {
    height: 10%;
    width: 50%; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white; }
